#page-header.about-header{
    background-image: url(images/about/banner.png);
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head div{
    padding-left: 40px;
}

#about-app{
    text-align: center;
}

#about-app .video video{
    width: 70%;
    border-radius: 30px;
    margin-top: 30px;
}


@media (max-width:499px) {
    /* about */
#about-head {
flex-direction:column;
}

#about-head img {
width: 100%;
margin-bottom: 20px;
}

#about-head div {
padding-left: 0px;
}

#about-app .video video {
width: 100%;
}

}
